@import "tailwindcss";

:root {
  --background: #F3FDFB;
  --foreground: #051411;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3FDFB;
    --foreground: #051411;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
}
